.intro{
    background-color: white;
}

.title {
    display: flex;
    flex-direction: column;
    text-align:center;
    color: #663399;
    padding: 5%
}

.title-box{
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    background-color: lavender;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%

}

.title h1 {
    font-size: 150px;
}

.title h3 {
    font-size: 30px;
}